extends layout

block content

  table(class="welcome")
    thead
    tbody
      tr
        h1 Hi #{name}, Welcome to the Over-The-Air Update Console for JAMScript

      tr 
        h2 List all networks
        p 
          | To see all networks, click 
          a(href="/networks") here
          | .

  script(src="/javascripts/api.js")
  script(src="/javascripts/query.js")
