doctype html
html
  head
    title= title
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.1/chart.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
