doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p <a href="/">Home</a>
    p <a href="/login">Login</a>
    p <a href="/logout">Logout</a>
    p <a href="/createAccount">Create Account</a>
    block content
