doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p <a href="/">Home</a> <a href="/login">Login</a> <a href="/logout">Logout</a> <a href="/createAccount">Create Account</a>

    block content
