extends ../layout

block content

  h2 Download tools to put your node online

  p
    | Download tools folder 
    a(href="/jamota-tools.zip" download) here
    | .

  p
    | Generate your download script 
    a(href="/nodes/" + nodeId + "/tools.sh" download) here
    | .

  p
    | Test your download script 
    //a(onclick="downloadTools('" + nodeId + "')") here
    a(href="/nodes/test" download) here
    | .


  p
    | Return to your 
    a(href="/nodes") nodes

  script(src="/javascripts/api.js")
  script(src="/javascripts/nodes/tools.js")
